* {
  font-family: sans-serif;
}
img {
  width: 90%;
  height: 80%;
  margin: auto;
  display: block;
}
#main {
  margin-top: 100px;
  margin: auto;
  display: flex;

  text-align: center;
  width: 950px;
}
#f {
  bottom: 300px;
  left: 70px;
}
.cont {
  margin-top: 50px;
  width: 250px;
  height: 421px;
  padding: 10px;
}
#s {
  bottom: 300px;
  left: 330px;
}
#t {
  bottom: 300px;
  left: 580px;
}
#fr {
  bottom: 300px;
  left: 850px;
}
h2 {
  color: rgba(84, 85, 85, 0.542);
}
h1 {
  text-align: center;
  margin-top: 60px;
}
